
/*A.Napolitano 2/2/2018*/
body{
  font-family: Impact, Charcoal, sans-serif;
  background-color: #000;
}
.titlebar {
  background-color: green;
  border-bottom: 2px solid greenyellow;
}
.titlecontain {
  margin:auto;
  width: 328px;  
  font-family: Impact, Charcoal, sans-serif;  
  font-size: .8em;
  font-weight: 600;  
  color: black;
  text-shadow: 1px 1px greenyellow,
               2px 2px rgb(193, 255, 47),               
               3px 3px rgb(252, 255, 47);
  padding: 10px; 
}
.mnuAutoPlayer{
  margin-left:10px;
  font-family: Impact, Charcoal, sans-serif;  
  font-size: 2em;
  font-weight: 600;  
  color: black;
  text-shadow: 1px 1px greenyellow,
               2px 2px rgb(193, 255, 47),               
               3px 3px rgb(252, 255, 47);
  
}

.titlecontain h1 {
  font-size: 6em;
}
.gamehead {
  position: relative;
  width: 640px;
  height: 50px;
  margin: 50px auto 0px auto;
  background-color: green;
}
.gamecontain {
  position: relative;
  width: 640px;
  height: 280px;
  margin: 0 auto;
  background-color: greenyellow;
}
.controlbox {  
  position: relative;
  
  width: 640px;
  height: 50px;
  margin: 0px auto;
  background-color: green;

}
.centerline {
  height:100%;
  width: 0;
  margin: 0 auto;
  border-left: 5px black dashed;
}
.gameheadertext{
  font-size: 1.3em;
  padding: 12px;

}

#score {
  float: left;
}
#lives {
  float: right;
}
#ball1 {
  position: absolute;
  Top: 20px;
  Left: 20px;
  background-color: #000;
  height: 10px;
  width:10px;
  z-index: 100;
}
#paddle1 {
  position: absolute;
  Top: 115px;
  Left: 20px;
  background-color: #000;
  height: 50px;
  width:10px;
  z-index: 100;
}
#paddle2 {
  position: absolute;
  Top: 115px;
  Left: 620px;
  background-color: #000;
  height: 50px;
  width:10px;
  z-index: 100;
}
.instruct{
  background-color: yellowgreen;
  padding: 5px 8px;
  border-radius: 34px;
  margin: 10px;
  float: right;
  font-size: .8em;
  box-shadow: 2px 2px 2px black;
  -webkit-transition: .4s;
  transition: .4s;
}
.instruct:hover{
  background-color: rgb(220, 255, 151);
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch {
  top:8px;
  left:10px;
  margin: 3px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: greenyellow;
}

input:focus + .slider {
  box-shadow: 0 0 1px greenyellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*
<div class="gamecontain">
<div class="paddle" id="PlayerPaddle">      
</div>
<div class ="paddle" id="AIPaddle">
</div>
<div class ="ball" id="AIBall">      
</div>
<div class="centerline"></div>
<div class="score"></div>
<div class="lives"></div>
